
@{
    ViewBag.Title = "Introduction";
}

<main id="main" class="">
    <div id="content" role="main" class="content-area swift-in-viewport">
        <div id="gap-561057505" class="gap-element clearfix swift-in-viewport" style="display:block; height:auto;">
            <style>
                #gap-561057505 {
                    padding-top: 50px;
                }
            </style>
        </div>
        <div class="row align-middle align-center swift-in-viewport" id="row-664249888">
            <div id="col-1040232938" class="col medium-6 small-12 large-6 swift-in-viewport">
                <div class="col-inner swift-in-viewport">
                    <h1 class="uppercase" style="font-size: 55px; font-weight:700">
                        <strong>
                            About FRESHSTYLE
                            SHOP
                        </strong>
                    </h1>
                    <h3 class="thin-font">
                        FRESHSTYLE SHOP là thương hiệu thời trang thiết kế ra đời vào năm 2018, sở hữu
                        những
                        thiết kế theo xu hướng thời trang Quốc tế với tiêu chí đem đến các thiết kế công sở hiện đại,
                        tinh tế, FRESHSTYLE SHOP luôn là <strong>sự lựa chọn hàng đầu của quý cô công sở.</strong>
                    </h3>
                    <h3 class="thin-font">
                        Với slogan “<strong>Be Chic- Be confident</strong>” – FRESHSTYLE SHOP mang đến
                        niềm vui
                        và sự tự tin cho khách hàng bằng những sản phẩm thời trang thanh lịch và hiện đại.
                    </h3>
                    <h3 class="thin-font">
                        FRESHSTYLE SHOP trở thành thương hiệu thời trang thiết kế uy tín được yêu
                        thích bởi mẫu
                        mã đa dạng, sản phẩm chất lượng, dịch vụ tốt và giá cả hợp lí.
                    </h3>
                    <a href="/san-pham" class="button primary">
                        <span>XEM SẢN PHẨM</span>
                    </a>
                </div>
            </div>
            <div id="col-593565169" class="col medium-6 small-12 large-6 swift-in-viewport">
                <div class="col-inner swift-in-viewport">
                    <div class="img has-hover x md-x lg-x y md-y lg-y swift-in-viewport" id="image_1334730572">
                        <div class="img-inner dark swift-in-viewport">
                            <img fetchpriority="high" decoding="async" width="700" height="700"
                                 src="https://leika.vn/wp-content/uploads/2023/12/1-1.png"
                                 class="attachment-original size-original skip-lazy" alt="Giới thiệu LEIKA"
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/1-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/1-1-510x510.png 510w, https://leika.vn/wp-content/uploads/2023/12/1-1-800x800.png 800w, https://leika.vn/wp-content/uploads/2023/12/1-1-768x768.png 768w, https://leika.vn/wp-content/uploads/2023/12/1-1-100x100.png 100w"
                                 sizes="(max-width: 1200px) 100vw, 1200px" title="Giới thiệu">
                        </div>
                        <style>
                            #image_1334730572 {
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <div id="gap-101074315" class="gap-element clearfix" style="display:block; height:auto;">
            <style>
                #gap-101074315 {
                    padding-top: 50px;
                }
            </style>
        </div>
        <div class="row align-middle align-center" id="row-1258870744">
            <div id="col-1194449135" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <h2 class="uppercase" style="font-size: 55px; font-weight:700"><strong>Idea</strong></h2>
                    <h3 class="thin-font">
                        Các nhà thiết kế của LEIKA liên tục cập nhật các xu hướng Quốc tế, từ đó kết
                        hợp cùng dòng chảy sáng tạo của mình để hoàn thiện sản phẩm.
                    </h3>
                </div>
            </div>
            <div id="col-282547638" class="col medium-7 small-12 large-7">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1679386984">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="400"
                                 src="https://leika.vn/wp-content/uploads/2023/12/2-2.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/2-2.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/2-2.png 1000w, https://leika.vn/wp-content/uploads/2023/12/2-2-510x336.png 510w, https://leika.vn/wp-content/uploads/2023/12/2-2-800x526.png 800w, https://leika.vn/wp-content/uploads/2023/12/2-2-768x505.png 768w"
                                 data-sizes="(max-width: 1000px) 100vw, 1000px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/2-2.png 1000w, https://leika.vn/wp-content/uploads/2023/12/2-2-510x336.png 510w, https://leika.vn/wp-content/uploads/2023/12/2-2-800x526.png 800w, https://leika.vn/wp-content/uploads/2023/12/2-2-768x505.png 768w"
                                 sizes="(max-width: 1000px) 100vw, 1000px">
                        </div>
                        <style>
                            #image_1679386984 {
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <div id="gap-298658293" class="gap-element clearfix" style="display:block; height:auto;">
            <style>
                #gap-298658293 {
                    padding-top: 50px;
                }
            </style>
        </div>
        <div class="row align-middle align-center" id="row-2049415020">
            <div id="col-1751138073" class="col medium-7 small-12 large-7">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_69618181">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="400"
                                 src="https://leika.vn/wp-content/uploads/2023/12/3-1.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/3-1.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/3-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/3-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/3-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/3-1-768x499.png 768w"
                                 data-sizes="(max-width: 1200px) 100vw, 1200px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/3-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/3-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/3-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/3-1-768x499.png 768w"
                                 sizes="(max-width: 1200px) 100vw, 1200px">
                        </div>
                        <style>
                            #image_69618181 {
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <div id="col-1355071248" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <h2 class="uppercase" style="font-size: 55px; font-weight:700"><strong>Design</strong></h2>
                    <h3 class="thin-font">
                        Từ mỗi chiếc đầm đến mỗi bộ đồ công sở, LEIKA đều mang tới sự tỉ mỉ,
                        chất lượng cùng sự sáng tạo tinh tế trong từng sản phẩm.
                    </h3>
                </div>
            </div>
        </div>
        <div id="gap-1072751481" class="gap-element clearfix" style="display:block; height:auto;">
            <style>
                #gap-1072751481 {
                    padding-top: 50px;
                }
            </style>
        </div>
        <div class="row align-middle align-center" id="row-1562066410">
            <div id="col-229313861" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <h2 class="uppercase" style="font-size: 55px; font-weight:700"><strong>Quality</strong></h2>
                    <h3 class="thin-font">
                        Sự tỉ mỉ và chất lượng là những yếu tố chính giúp LEIKA tạo được sự tin
                        tưởng và sự thích thú từ khách hàng.
                    </h3>
                </div>
            </div>
            <div id="col-594173568" class="col medium-7 small-12 large-7">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1100247140">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="400"
                                 src="https://leika.vn/wp-content/uploads/2023/12/4-1.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/4-1.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/4-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/4-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/4-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/4-1-768x499.png 768w"
                                 data-sizes="(max-width: 1200px) 100vw, 1200px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/4-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/4-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/4-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/4-1-768x499.png 768w"
                                 sizes="(max-width: 1200px) 100vw, 1200px">
                        </div>
                        <style>
                            #image_1100247140 {
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>


        <div class="row align-middle align-center" id="row-2049415020">
            <div id="col-1751138073" class="col medium-7 small-12 large-7">
                <div class="col-inner">
                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_69618181">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="500"
                                 src="https://leika.vn/wp-content/uploads/2023/12/3-1.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/3-1.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/3-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/3-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/3-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/3-1-768x499.png 768w"
                                 data-sizes="(max-width: 1200px) 100vw, 1200px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/3-1.png 1200w, https://leika.vn/wp-content/uploads/2023/12/3-1-510x332.png 510w, https://leika.vn/wp-content/uploads/2023/12/3-1-800x520.png 800w, https://leika.vn/wp-content/uploads/2023/12/3-1-768x499.png 768w"
                                 sizes="(max-width: 1200px) 100vw, 1200px">
                        </div>
                        <style>
                            #image_69618181 {
                                width: 100%;
                            }
                        </style>
                    </div>
                </div>
            </div>
            <div id="col-1095501756" class="col medium-4 small-12 large-4">
                <div class="col-inner">
                    <h2 class="uppercase" style="font-size: 55px; font-weight: bold;"><strong>Skets</strong></h2>
                    <h3 class="thin-font">
                        Công đoạn phác thảo được thể hiện trực tiếp bởi bàn tay của nhà thiết kế thời
                        trang của FRESHSTYLE SHOP. Chuyên nghiệp và chỉn chu từ màu sắc đến từng đường nét.
                    </h3>
                </div>
            </div>
        </div>
        @*<div class="banner has-hover" id="banner-2102559407" style="height:500px">
            <div class="banner-inner fill">
                <div class="banner-bg fill">
                    <div class="video-overlay no-click fill"></div>
                    <iframe id="ytplayer-993" class="ux-youtube fill object-fit visible" data-videoid="vTZciIxbX3g"
                            data-loop="1" data-audio="0" frameborder="0" allowfullscreen=""
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            title="TRENDY W/ TIMELESS BEAUTY - FALL WINTER 2023" width="100%" height="100%"
                            src="https://www.youtube.com/embed/vTZciIxbX3g?html5=1&amp;autoplay=1&amp;controls=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;fs=0&amp;loop=1&amp;el=0&amp;playlist=vTZciIxbX3g&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fleika.vn&amp;widgetid=1"
                            data-gtm-yt-inspected-13="true"></iframe>

                </div>

                <div class="banner-layers container">
                    <div class="fill banner-link"></div>


                </div>
            </div>


            <style>
                #banner-2102559407 {
                    padding-top: 5%;
                }
            </style>
        </div>*@

        <div class="row align-middle align-center" id="row-192894501">


            <div id="col-1985670648" class="col medium-4 small-12 large-4">
                <div class="col-inner">



                    <h2 class="uppercase" style="font-size: 55px; font-weight: bold;"><strong>MATCHING</strong></h2>
                    <h3 class="thin-font">
                        Chính vì luôn đặt nhu cầu khách hàng lên hàng đầu, nên FRESHSTYLE SHOP luôn tỉ
                        mỉ trong
                        từng công đoạn để tạo ra những sản phẩm không chỉ đạt chuẩn về chất lượng mà còn khiến khách
                        hàng cảm thấy hài long và hạnh phúc khi mặc lên mình những thành quả của FRESHSTYLE SHOP
                    </h3>

                </div>
            </div>



            <div id="col-1911139340" class="col medium-7 small-12 large-7">
                <div class="col-inner">



                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_958009629">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="600"
                                 src="https://leika.vn/wp-content/uploads/2023/12/4-1.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/4-1.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/4-1.png 800w, https://leika.vn/wp-content/uploads/2023/12/4-1-510x439.png 510w, https://leika.vn/wp-content/uploads/2023/12/4-1-768x661.png 768w"
                                 data-sizes="(max-width: 800px) 100vw, 800px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/4-1.png 800w, https://leika.vn/wp-content/uploads/2023/12/4-1-510x439.png 510w, https://leika.vn/wp-content/uploads/2023/12/4-1-768x661.png 768w"
                                 sizes="(max-width: 800px) 100vw, 800px">
                        </div>

                        <style>
                            #image_958009629 {
                                width: 100%;
                            }
                        </style>
                    </div>



                </div>
            </div>



        </div>
        <div id="gap-1638995156" class="gap-element clearfix" style="display:block; height:auto;">

            <style>
                #gap-1638995156 {
                    padding-top: 50px;
                }
            </style>
        </div>
        <div class="row align-middle align-center" id="row-2080718865">


            <div id="col-1392321726" class="col medium-7 small-12 large-7">
                <div class="col-inner">



                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1535754900">
                        <div class="img-inner dark">
                            <img decoding="async" width="700" height="353"
                                 src="https://leika.vn/wp-content/uploads/2023/12/5-1.png"
                                 class="attachment-original size-original" alt="Giới thiệu" title="Giới thiệu"
                                 data-src="https://leika.vn/wp-content/uploads/2023/12/5-1.png"
                                 data-srcset="https://leika.vn/wp-content/uploads/2023/12/5-1.png 700w, https://leika.vn/wp-content/uploads/2023/12/5-1-510x257.png 510w"
                                 data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l=""
                                 srcset="https://leika.vn/wp-content/uploads/2023/12/5-1.png 700w, https://leika.vn/wp-content/uploads/2023/12/5-1-510x257.png 510w"
                                 sizes="(max-width: 700px) 100vw, 700px">
                        </div>

                        <style>
                            #image_1535754900 {
                                width: 100%;
                            }
                        </style>
                    </div>



                </div>
            </div>



            <div id="col-804472409" class="col medium-4 small-12 large-4">
                <div class="col-inner">



                    <h2 class="uppercase" style="font-size: 55px; font-weight: bold;"><strong>COMPLETE</strong></h2>
                    <h3 class="thin-font">
                        Sản phẩm sau khi hoàn thành sẽ được trưng bày tại hệ thống showroom của LEIKA,
                        cũng là địa điểm để khách hàng có thể thư giãn và tận hưởng những khoảnh khắc tuyệt vời tại đây
                    </h3>

                </div>
            </div>
        </div>
    </div>
</main>
<style>
    main {
        margin: 200px 200px 100px 200px;
    }

    .col-inner {
        padding-right: 50px;
    }

    .row {
        display: flex;
        flex-direction: row;
        padding-top: 50px;
    }

    h3 {
        font-weight: 10;
        font-size: 16px;
        line-height: 40px;
    }
</style>

